body {
    background: #0f172a;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 600px;
    background: #1e293b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.header {
    color: cyan;
    padding: 15px;
    text-align: center;
}

#chat {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.msg {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.user {
    background: cyan;
    color: black;
    margin-left: auto;
}

.bot {
    background: #334155;
    color: white;
}

.input {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
}